# IntelliJ/Dart Editor
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Flutter/Dart specific
**/build/
**/ios/Flutter/**.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/*.iml
**/android/**.iml
**/android/**.properties

# iOS
**/ios/Podfile.lock
**/ios/Pods/
**/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
**/ios/Runner.xcodeproj/xcuserdata/

# Web
**/webdev.dart

# VSCode config
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Android Studio
.idea/*
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries

# Sublime Text
.sublime-workspace
.sublime-project

# Flutter and Dart Settings
**/analysis_options.yaml
**/test/**/golden_tool_test.dart

# Flutter Integration Test
integration_test/.dart_tool/
integration_test/flutter_test_config.dart
integration_test/.packages

# Build
build/
!build/web/

# Cache and dependencies
.cache/
.packages
.pub-cache/
.pub/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/*.iml
**/android/**.iml
**/android/**.properties

# iOS
**/ios/Podfile.lock
**/ios/Pods/
**/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
**/ios/Runner.xcodeproj/xcuserdata/

# Web
**/webdev.dart
